:root {
  --blue: #4682B4;
  --light-blue: #7EA6D1;
  --dark-blue: #315780;  
  --yellow: #D4AF37;
  --green: #8FBC8F;
  --red: #B22222;
  --purple: #6A5ACD;
  --orange: #B87333;
  --pink: #B76E79;
  
  --primary: #4682B4;
  --secondary: #B0C4DE;
}